.slide-container {
  --ion-color-warning: radial-gradient(
    circle,
    rgb(233, 191, 7) 44%,
    rgba(253, 187, 45, 1) 100%
  );
  --ion-color-primary: black;
}

.slide-card {
  width: 80%;
  padding: 5%;
  margin-top: 25%;
}

.slide-card img {
  max-height: 150px;
}

.button svg {
  margin-left: 0.5em;
}
