.boxed {
  margin-top: 15vh;
}

.slide-card {
  width: 80%;
  padding: 5%;
  margin-top: 25%;
}

.slide-card img {
  height: 150px;
}

a {
  color: black!important;
}

.button svg {
  margin-left: 0.5em;
}
